// Slate
$slate_50: #f8fafc;
$slate_100: #f1f5f9;
$slate_200: #e2e8f0;
$slate_300: #cbd5e1;
$slate_400: #94a3b8;
$slate_500: #64748b;
$slate_600: #475569;
$slate_700: #334155;
$slate_800: #1e293b;
$slate_900: #0f172a;

// Gray
$gray_50: #f9fafb;
$gray_100: #f3f4f6;
$gray_200: #e5e7eb;
$gray_300: #d1d5db;
$gray_400: #9ca3af;
$gray_500: #6b7280;
$gray_600: #4b5563;
$gray_700: #374151;
$gray_800: #1f2937;
$gray_900: #111827;

//Zinc
$zinc_50: #fafafa;
$zinc_100: #f4f4f5;
$zinc_200: #e4e4e7;
$zinc_300: #d4d4d8;
$zinc_400: #a1a1aa;
$zinc_500: #71717a;
$zinc_600: #52525b;
$zinc_700: #3f3f46;
$zinc_800: #27272a;
$zinc_900: #18181b;

//Green
$green_50: #f0fdf4;
$green_100: #dcfce7;
$green_200: #bbf7d0;
$green_300: #86efac;
$green_400: #4ade80;
$green_500: #22c55e;
$green_600: #16a34a;
$green_700: #15803d;
$green_800: #166534;
$green_900: #14532d;

//Red
$red_50: #fef2f2;
$red_100: #fee2e2;
$red_200: #fecaca;
$red_300: #fca5a5;
$red_400: #f87171;
$red_500: #ef4444;
$red_600: #dc2626;
$red_700: #b91c1c;
$red_800: #991b1b;
$red_900: #7f1d1d;

//Orange
$orange_50: #fff7ed;
$orange_100: #ffedd5;
$orange_200: #fed7aa;
$orange_300: #fdba74;
$orange_400: #fb923c;
$orange_500: #f97316;
$orange_600: #ea580c;
$orange_700: #c2410c;
$orange_800: #9a3412;
$orange_900: #7c2d12;

//Blue
$blue_50: #eff6ff;
$blue_100: #dbeafe;
$blue_200: #bfdbfe;
$blue_300: #93c5fd;
$blue_400: #60a5fa;
$blue_500: #3b82f6;
$blue_600: #2563eb;
$blue_700: #1d4ed8;
$blue_800: #1e40af;
$blue_900: #1e3a8a;
