.chip {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 14px;
    width: max-content;
    border-radius: 28px;
    @include label_medium;

    &--active {
        background-color: $green_100;
        color: $green_700;
    }
    &--notActive {
        background-color: $red_100;
        color: $red_700;
    }
    &--pending {
        background-color: $orange_100;
        color: $orange_700;
    }
    &--suspended {
        background-color: $blue_100;
        color: $blue_700;
    }
}

.circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;

    &--active {
        background-color: $green_700;
    }
    &--notActive {
        background-color: $red_700;
    }
    &--pending {
        background-color: $orange_700;
    }
    &--suspended {
        background-color: $blue_700;
    }
}
